<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title> Bookers2 </title>
</head>

<!-- bodyここから -->
<body>
    <div class="top-text">
        <h1>
            <span> welcome to </span>
            <span> Bookers </span>
            <span> !! </span>
        </h1>

        <p> In <strong> Bookers </strong>, </p>
        <p> you can share and exchange your opinions , inpressions , and emotions </p>
        <p> about varioius books! </p>
	</div>
	
    <div class="sign">
        <p>
        <button type="button"> <a href="/users/sign_in" class="sign-inside"> Log in </a> </button>
        </p>
        
        <p>
        <button type="button"> <a href="/users/sign_up" class="sign-inside"> Sign Up </a> </button>
        </p>
    </div>

    <!-- footerここから -->
    <footer>
    	
    </footer>
    <!-- footerここまで -->
</body>

</html>